.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 750px){
  .grid {
    grid-template-columns: 1fr;
  }
}