.footer {
  text-align: center;
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  flex-direction: column;
  margin-top: 3rem;
}
.footer a {
  color: var(--yellow);
}
.footer .social {
  margin-bottom: 1rem;
  display: flex;
}
.footer .social .link {
  margin: 0 1rem;
  transition: all ease-in-out .3s;
  height: 100%;
  display: inline-block;
}
.footer .social .link:hover {
  transform: scale(1.2);
}