:root {
  --green: #14463A;
  --yellow: #FFB91D;
  --white: #FCFEE2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(20,70,58);
  background: linear-gradient(180deg, rgba(20,70,58,1) 16%, rgba(14,53,44,1) 68%); 
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

div, span, p {
  font-family: 'Open Sans';
}

@media (max-width: 600px){
  h2,h3,h4 {
    font-size: 2rem !important;
  }
}
