:root {
  --green: #14463A;
  --yellow: #FFB91D;
  --white: #FCFEE2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background-color: var(--green);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(20,70,58);
  background: linear-gradient(180deg, rgba(20,70,58,1) 16%, rgba(14,53,44,1) 68%); 
  background-image: url('/texture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}
body::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--green);
  opacity: 0.5;
  z-index: -1;
  filter: contrast(4);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: '__Paytone_One_b52c41';
}

h2 {
  font-family: '__Open_Sans_f3cbcc';
}

div, span, p {
  font-family: '__Open_Sans_f3cbcc';
}

@media (max-width: 600px){
  h2,h3,h4 {
    font-size: 2rem !important;
  }
}
